body{
    background-image: url(/img/wpp.jpg);
    margin: 0;
    text-align: center;
}
.dino{
    width: 100px;
    height: 100px;
    background-image: url(/img/calango.png);
    position: absolute;
    bottom: 0;

}


.cactus{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(/img/cactus.png);    
}
.game-over{
    text-align: center;
    color: #666666;
    margin-top: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
@keyframes slideright {
    from{
        background-position: 70000%;
    }
    to{
        background-position: 0;

    }
}
.background{
    position: absolute ;
    bottom:0;
    background-image: url(/img/wpp.jpg);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear ;
    width: 100%;
    height: 100%;
}